---
import Layout from "../../layouts/Layout.astro";
import { allPlaylists, songs } from "../../lib/data";
import Greeting from "../components/Greeting.svelte";

const { id } = Astro.params; // esta id sale del nombre del archivo. Si le pones idPatatas.astro será const { idPatatas } = Astro.params
const playlist = allPlaylists.find((playlist) => playlist.id === id);
const playListSongs = songs.filter(
  (songs) => songs.albumId === playlist?.albumId,
);
---

<Layout title="Sportify Clone">
  <div
    id="playlist-container"
    class="relative flex flex-col h-full overflow-x-hidden bg-zinc-900"
    transition:name=`playlist ${id} box`
  >
    <!-- La transition name debe de estar también en la parte de a de las carátulas para que identifique la transición y hacia donde tiene que ir y tienes el nexo entre dos pag distintas-->
    <!-- <PageHeader /> -->
    <header class="flex flex-row gap-8 px-6 py-6 mt-14">
      <picture class="aspect-square w-52 h-52 flex-none">
        <img
          src={playlist?.cover}
          alt={`Cover of ${playlist?.title}`}
          class="object-cover w-full h-full shadow-lg"
          transition:name=`playlist ${playlist?.id} image`
        />
      </picture>

      <div class="flex flex-col justify-between">
        <h2 class="flex flex-1 items-end">Playlist</h2>
        <div>
          <h1 class="text-5xl font-bold block text-white">
            {playlist?.title}
            <span transition:name=`playlist ${playlist?.id} title`></span>
          </h1>
        </div>

        <div class="flex-1 flex items-end">
          <div class="text-sm text-gray-300 font-normal">
            <div transition:name=`playlist ${playlist?.id} artists`>
              <span>{playlist?.artists.join(", ")}</span>
            </div>
            <p class="mt-1">
              <span class="text-white">{playListSongs.length} canciones</span>,
              3 h aproximadamente
            </p>
          </div>
        </div>
      </div>
    </header>

    <div class="relative z-10 px-6 pt-12"></div>

    <div class="inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80">
      <!-- {Este div es para que se forme el gradiente debajo del main pero por encima del fondo pero como su opacidad es de 80 al final, arriba, se ve el fondo verde} -->
    </div>
  </div>
</Layout>
